#contact.section{
    padding-bottom: 90px !important;
    min-height: auto !important;
    height: auto !important;
}


.contact-actions{
    display:flex; 
    gap:12px; 
    flex-wrap:wrap;
    margin-top: 20px;
}



